/*  your css code here. If applicable */

      .card img {
         border-radius: 8px;
         cursor: pointer;
      }

      .card {
         border-radius: 8px;
      }

      h6,
      p {
         text-align: center;
      }
	   